[build]
builder = "NIXPACKS"

[deploy]
startCommand = "npm start"
healthcheckPath = "/"
restartPolicyType = "ON_FAILURE"
healthcheckTimeout = 300

[environments.production.variables]
NODE_ENV = "production"
PORT = "${{ RAILWAY_STATIC_URL }}"
